.example-spacer {
  flex: 1 1 auto;
}

.search-professional-form {
  width: 40%;
  position: relative;
  margin: auto;
  max-width: 100%;
}

mat-drawer-content {
  /* padding: 12px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-container {
  display: none;
}

footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}

#btmFooter {
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .float-right {
    float: none;
  }
  .search-professional-form {
    width: 100%;
    margin: 5px;
  }
  /* mat-drawer-container {
    flex: 1 1 auto;
  } */
  .example-container {
    display: flex;
    height: 100% !important;
    z-index: 10001;
    position: fixed;
    /* width: 50%; */
    width: -webkit-fill-available;
    margin-top: 55px;
  }
  /* .main-toolbar {
    position: fixed;
  } */
}