<div class="login-main">
  <mat-card>
    <div class="title">FORGOT PASSWORD</div>

    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="user.email" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="btn-center">
      <button color="primary" (click)="forgotPassword()" class="btn-login">Submit</button>
    </mat-card-actions>
    <!-- <br> -->

  </mat-card>
  <div class="login-card-footer">
    <div class="right-item">
      <span>Do you want to login?&nbsp;<a (click)="redirectUser('/login')" class="links">Login</a></span>
    </div>
  </div>
</div>